body {
    background-color: rgb(78, 155, 129);
    margin: auto;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-control {
    margin: auto;
}

form label {
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input {
    margin: auto;
    display: flex;
    flex-direction: column;
}