body {
    background-image: url("/static/img/bg-main.jpg");
    background-size: cover;
}

.main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.card {
    margin: auto;
    margin-top: 30px;
    height: 220px;
    max-height: 220px;
    align-items: center;
}

.card-text {
    color: #fff;
}

.card a {
    text-align: center;
}

.card-body .bi-cash-coin {
    font-weight: bold;
    font-size: 20px;
    color: rgb(129, 250, 8);
}


/* styles.css */

.card-verde {
    background-color: #98ac9dd7;
    /* Fondo verde claro */
}

.card-amarilla {
    background-color: #e0de60;
    /* Fondo amarillo claro */
}

.card-roja {
    background-color: #e98b92;
    /* Fondo rojo claro */
}

.card-negro {
    background-color: rgba(83, 27, 100, 0.274);
}