{% extends 'gymapp/base.html' %} {% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Encabezados y enlaces a CSS y JS aquí -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {% block css %}
    <link rel="stylesheet" href="{% static 'asistencia.css' %}"> {% endblock %}


    <!-- Bootstrap CSS -->


</head>

<body>
    {% block content %} {% include 'gymapp/navbar.html'%}

    <div class="container">
        <h1>Lista de Asistencias</h1>

        <!-- Formulario para seleccionar una fecha específica -->
        <div class="container my-4">
            <div class="container my-4">
                <form method="get" class="form-inline">
                    <div class="form-group">
                        <label for="fechaSelector" class="mr-2">Selecciona una fecha:</label>
                        <input type="date" id="fechaSelector" name="fecha" class="form-control" value="{{ fecha_seleccionada }}" {% if fecha_seleccionada %} {% endif %}>
                    </div>
                    <div class="form-group ml-2">
                        <label for="idUsuario" class="mr-2">ID del Usuario:</label>
                        <input type="text" id="idUsuario" name="id_usuario" class="form-control" value="{{ '' }}" placeholder="Ingrese ID">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 ml-2">Mostrar</button>
                </form>
            </div>


            <!-- Mostrar la lista de asistencias si hay una fecha seleccionada -->
            {% if fecha_seleccionada %}
            <div class="container">
                <table class="table table-striped">
                    <!-- Encabezados de la tabla aquí -->
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Nombre del Usuario</th>
                            <th scope="col">Id</th>
                            <th scope="col">Presente</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asistencia in asistencias %}
                        <tr>
                            <td>{{ asistencia.fecha|date:'F j, Y' }}</td>
                            <td>{{ asistencia.usuario }}</td>
                            <td>{{ asistencia.usuario.id_usuario }}</td>
                            <td> {% if asistencia.presente %} <i class="bi bi-check-circle"></i>
                                <!-- Chulito para True -->
                                {% else %} <i class="bi bi-x-circle"></i>
                                <!-- Cruz para False -->
                                {% endif %}</td>
                            <!-- Otros datos de asistencia según tus necesidades -->
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2">No hay asistencias para la fecha seleccionada.</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>

        {% endblock %}
        <script src="{% static 'js/asistencia.js' %}"></script>

        <!-- Enlaces a scripts JS y otros archivos aquí -->
</body>

</html>