<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganancias</title>
</head>

<body>
    {% include 'gymapp/navbar.html' %}
    <table class="table table-striped">
        <!-- Encabezados de la tabla aquí -->
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Tipo de plan</th>
                <th scope="col">Fecha</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for tarjeta in tarjetas %}
            <tr>
                <td>{{tarjeta.usuario.nombre}}</td>
                <td>{{tarjeta.usuario.apellido}}</td>
                <td>{{tarjeta.usuario.plan}}</td>
                <td>{{tarjeta.usuario.fecha_inicio_gym}}</td>
                <td>{{tarjeta.usuario.plan.precio}}</td>
                <td></td>
                <!-- Otros datos de asistencia según tus necesidades -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No hay asistencias para la fecha seleccionada.</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            <thead>
                <tr>
                    <td class="text-center">Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{total_valor_plan}}</td>
                </tr>
            </thead>

        </tbody>
    </table>
</body>

</html>